#helpContainer
  width 80%
  position relative
  top 0
  margin auto
  user-select text!important
  -moz-user-select text!important
  -ms-user-select text!important
  -webkit-user-select text!important
  h1
    font-size 4em
    font-weight bold
    margin 0.67em 0
  h2
    font-size 1.5em
    font-weight bold
    margin 0.83em 0
  h3
    font-size 1.17em
    font-weight bold
    margin 1em 0
  code
    line-height 3em
    padding 0.5em 2em
    background-color rgba(220, 220, 220, 0.6)
  h4
    font-weight bold
  p
    margin 1em 0
  ul, ol
    display block
    list-style-type disc
    padding-left 40px
    margin 1em 0
  ol
    list-style-type decimal
  li
    display list-item
  blockquote
    margin 1em 40px
  pre
    margin 1em 0
    white-space pre
  img 
    margin 1em 0
