#helpContainer {
    max-height: 100%;
    max-width: 856px;
    overflow: auto;
    padding: 0 532px;
}

#helpContainer h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0;
}

#helpContainer h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.83em 0;
}

#helpContainer h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin: 1em 0;
}

#helpContainer code {
    line-height: 3em;
    padding: 0.5em 2em;
    margin-left: 10px;
    background-color: rgba(220, 220, 220, 0.6);
    width: 856px;
}

#helpContainer h4 {
    font-weight: bold;
}

#helpContainer p {
    margin: 1em 0;
}

#helpContainer ul,
#helpContainer ol {
    display: block;
    list-style-type: disc;
    padding-left: 40px;
    margin: 1em 0;
}

#helpContainer ol {
    list-style-type: decimal;
}

#helpContainer li {
    display: list-item;
}

#helpContainer blockquote {
    margin: 1em 40px;
}

#helpContainer pre {
    margin: 1em 0;
    white-space: pre;
}