/* OVERLAY - FIRST AND LAST THING TO LOAD */
#overlay
    overflow hidden
    width 100vw
    height 100vh
    background-color #ebebeb
    position absolute
    top 0
    z-index 1000
    display flex
    flex-direction column
    h1
        margin 10% auto 0 auto
    p
        margin-top 2%
        width 100%
        text-align center
    .spinner
        align-self center
        width 200px
        height 200px
        border-radius 50%
        position relative
        margin 20% 0
        display inline-block
        &:before, &:after
            content: ''
            display: block
            width: 200px
            height: 200px
            border-radius: 50%
            position absolute
            top 50%
            left 50%
            margin-top -100px
            margin-left -100px
            background orangered
            animation pulse 3s linear infinite
            opacity 0
        &:after
            animation pulse 2s linear 2.3s infinite
    .fabricaLogoImg
        cursor pointer
        margin 40% auto
        width 800px
        transform rotate(25deg)
        transition margin 1s
        &:hover
            margin 20% auto
    
@keyframes pulse{
  from{
    transform: scale(0)
    opacity: 1
  }
  to{
    transform: scale(1.3)
    opacity: 0
  }
}
/* RESET CSS */
body
    overflow hidden
    background-color #efefef
    user-select none
    -moz-user-select none
    -ms-user-select none
    -webkit-user-select none
body, h1, p
    margin 0
    font-family 'Montserrat', sans-serif!important
    font-weight 400
a 
    text-decoration none
    color orangered
/* SELECTION */
*::selection
    background-color rgba(22,22,22,0.2)
*::-moz-selection
    background-color rgba(22,22,22,0.2)    
/* LOGO */
.fabricaLogoText
    font-family 'Pacifico', cursive!important
    font-size 40px
    margin 9% 0 20% 0
    color black
    z-index 4
    text-align center
.fabricaLogoImg
    width 60%
    margin 20% auto 20% auto
    display block
/* BARS COLOR */
#bars div
    background-color #EBEBEB
/* SIDEBAR */
#sidebarshadowfix
    width 193px
    height 100vh
    position absolute
    left 0
    top 0
    -webkit-box-shadow: -1px 5px 24px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 5px 24px 0px rgba(0,0,0,0.2);
    box-shadow: -1px 5px 24px 0px rgba(0,0,0,0.2);
    z-index -1
#sidebar
    width 193px
    height 100vh
    z-index 999!important
    position absolute
    top 0    
    display flex
    flex-direction column
    overflow-x hidden
    justify-content space-between
    #topInfo
        align-self flex-start    
        width 100%
    #bottomInfo
        align-self flex-end
        width 100%
    .service
        width 112%
        margin-left -12px
        height 110px
        transform rotate(8deg)
        transition transform 200ms
        cursor pointer
        display flex
        justify-content center
        align-items center
        overflow hidden
        .servicecontainer
            transform rotate(-8deg)
            text-align center
            h1
                font-size 30px    
        &:hover
            transform scale(1.05) rotate(8deg)!important
        &.primary
            .servicecontainer
                h1
                    font-size 46px
                p    
                    font-size 18
                    font-weight 300    
/* TOPBAR */        
#topbar
    overflow-x auto
    overflow-y hidden
    width calc(100%-193px)
    height 72px
    margin-left 193px
    display flex
    align-items center
    flex-direction row
    justify-content space-between
    z-index 2
    -webkit-box-shadow: -1px 5px 24px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: -1px 5px 24px 0px rgba(0,0,0,0.1);
    box-shadow: -1px 5px 24px 0px rgba(0,0,0,0.1);
    .buttoncontainer
        font-size 20px
        border 5px solid #D9D9D9
        background-color #D9D9D9
        transition background-color 400ms
        height 50px
        display flex
        justify-content center
        align-items center
        user-select none
        text-transform capitalize
        // .twolinebutton
        //     transition background-color 400ms
        &.back
            display none
    .button
        cursor pointer
        width 113px
        margin-right 10px
        &:hover
            background-color transparent    
    #leftButtonMenu
        display flex
        align-items center
        flex-direction row
        .fontcontainer
            width 400px
            span
                background-color #d9d9d9
                select, option
                    max-width 154px
                    text-align: center
                    -webkit-appearance none
                    -moz-appearance none
                    appearance none
                    border none
                    outline none
                    font-family 'Montserrat', sans-serif!important
                    font-size 20px
                    padding 0 10px 0 0
                    background url('../MISC/dropdown.svg') no-repeat
                    background-position 95%
                    height 30px
                    background-color #ebebeb
                #fontfamilyselector
                    margin-right 20px
            .fontsizecontainer
                select
                    padding 0 40px 0 0
        .formattingcontainer
            display flex
            align-items center
            flex-direction row
            .formattingbutton
                width 54px
                cursor pointer
                background transparent
                text-align center
                &:hover
                    background-color #dedede
                &.selected
                    background-color #d9d9d9
                    &.bold
                        font-weight 700
                    &.italics
                        font-style italic
                    &.underscore
                        text-decoration underline                                                                    
    #rightButtonMenu
        display flex
        align-items center
        flex-direction row
        margin-right 10px
        .buttoncontainer
            margin-left 10px
            cursor pointer
            transition all 400ms
            &.button
                margin-right 0
            &.helpbutton
                width 54px
            &.tablecalc
                h1
                    font-size 20px
                p
                    font-size 10px
                    font-weight 300                    
@media screen and (-webkit-min-device-pixel-ratio:0){ 
    .fontcontainer span select{
        padding: 0 0 0 10px!important;
        background-position: 90%!important;
    }
    #fontsizeselector{
        padding: 0 20px 0 10px!important;   
    }
}     
/* COLOR SCHEME */               
.tablecalc, .tablecalc .servicecontainer
    background-color #F1C40F!important
    border-color #F1C40F!important
.about, .about .servicecontainer
    background-color #4A86E8!important
    border-color #4A86E8!important
.git, .git .servicecontainer
    background-color #FF6969!important
    border-color #FF6969!important
.help
    background-color #8BC34A!important
    border-color #8BC34A!important
.transparent
    background-color rgba(0,0,0,0)!important    
    border-color rgba(0,0,0,0)!important
#mainArea
    #innerOverlay
        z-index 999
        display none
        background-color white
        // height 935px
        width 100vw
        position relative
        bottom 0
        left 0
        #innerOverlayContainer
            display flex
            justify-content center
            align-items center
            height 100%
/* ABOUT PAGE */
#about
    .headerText
        font-family 'Pacifico', cursive
        text-align center
    .logos
        margin 5% auto
        width 208px
        display flex
        flex-direction row
        justify-content center
        text-align center
        h2
            margin-bottom 5%
        p
            margin 10% auto
            word-break break-all
        div
            margin-left 40%
            padding 0 10%
            border-radius 10px
            transition background-color 200ms
            &:hover
                background-color rgba(22,22,22,0.2)
            &:hover img
                transform scale(1.05)
            img
                margin-top 10%
                margin-bottom 2%
                height 200px
                border-radius 75%
                border 4px #212121 solid
                transition 400ms transform
                    
.dropdown
    position absolute
    top 61px
    border 5px solid #dfdfdf
    border-bottom none             
    width 113px
    opacity 0
    display none
    &.edit
        left 326px
    &.insert
        left 459px 
    &.more
        left 592px               
    
    ul
        // display flex
        // flex-direction column
        li
            cursor pointer
            background-color #dfdfdf
            display flex
            align-items center
            width 100%
            height 50px
            border-bottom 5px solid #dfdfdf
            transition background-color 200ms
            &:hover
                background-color #ebebeb
            span
                width 100%
                text-align center
.button.file:hover + .dropdown.file, .dropdown.file:hover, .button.edit:hover + .dropdown.edit, .dropdown.edit:hover, .button.insert:hover + .dropdown.insert, .dropdown.insert:hover, .button.more:hover + .dropdown.more, .dropdown.more:hover
    display block
    opacity 1
    animation-name fadeInDropdown
    animation-duration 400ms
    animation-iteration-count 1
    animation-timing-function ease    
@keyframes fadeInDropdown
    0% 
        display none
        opacity 0
    1%
        display block
    100%
        opacity 1

@keyframes fadeOutDropdown
    0%
        opacity 1
    99%
        opacity 0
    100%
        display none       