/* OVERLAY - FIRST AND LAST THING TO LOAD */
#overlay {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #ebebeb;
  position: relative;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}
#overlay h1 {
  margin: 10% auto 0 auto;
}
#overlay p {
  margin-top: 2%;
  width: 100%;
  text-align: center;
}
#overlay .spinner {
  align-self: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  margin: 20% 0;
  display: inline-block;
}
#overlay .spinner:before,
#overlay .spinner:after {
  content: '';
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  background: #ff4500;
  animation: pulse 3s linear infinite;
  opacity: 0;
}
#overlay .spinner:after {
  animation: pulse 2s linear 2.3s infinite;
}
#overlay .fabricaLogoImg {
  cursor: pointer;
  margin: 40% auto;
  width: 800px;
  transform: rotate(25deg);
  transition: margin 1s;
}
#overlay .fabricaLogoImg:hover {
  margin: 20% auto;
}
/* RESET CSS */
body {
  overflow: hidden;
  background-color: #efefef;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
body,
h1,
p {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #ff4500;
}
/* SELECTION */
*::selection {
  background-color: rgba(22,22,22,0.2);
}
*::-moz-selection {
  background-color: rgba(22,22,22,0.2);
}
/* LOGO */
.fabricaLogoText {
  font-family: 'Pacifico', cursive !important;
  font-size: 40px;
  margin: 9% 0 20% 0;
  color: #000;
  z-index: 4;
  text-align: center;
}
.fabricaLogoImg {
  width: 60%;
  margin: 20% auto 20% auto;
  display: block;
}
.showHideButton {
  cursor: pointer;
  text-decoration: underline;
  text-align: center;
}
/* BARS COLOR */
#bars div {
  background-color: #ebebeb;
}
/* SIDEBAR */
#sidebarshadowfix {
  width: 193px;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-shadow: -1px 5px 24px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: -1px 5px 24px 0px rgba(0,0,0,0.2);
  box-shadow: -1px 5px 24px 0px rgba(0,0,0,0.2);
  z-index: -1;
}
#sidebar {
  width: 193px;
  height: 100vh;
  z-index: 999 !important;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  justify-content: space-between;
}
#sidebar #topInfo {
  align-self: flex-start;
  width: 100%;
}
#sidebar #bottomInfo {
  align-self: flex-end;
  width: 100%;
}
#sidebar .services:not(:first-child) {
  margin: 9% auto 0 auto;
}
#sidebar .service {
  width: 112%;
  margin-left: -12px;
  height: 110px;
  transform: rotate(8deg);
  transition: transform 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#sidebar .service .servicecontainer {
  transform: rotate(-8deg);
  text-align: center;
}
#sidebar .service .servicecontainer h1 {
  font-size: 30px;
}
#sidebar .service.hoverable:hover {
  cursor: pointer;
  transform: scale(1.05) rotate(8deg) !important;
}
#sidebar .service.primary .servicecontainer h1 {
  font-size: 46px;
}
#sidebar .service.primary .servicecontainer p {
  font-size: 18;
  font-weight: 300;
}
/* TOPBAR */
#topbar {
  overflow-x: auto;
  overflow-y: hidden;
  width: calc(100% -193px);
  height: 72px;
  margin-left: 193px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
  -webkit-box-shadow: -1px 5px 24px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: -1px 5px 24px 0px rgba(0,0,0,0.1);
  box-shadow: -1px 5px 24px 0px rgba(0,0,0,0.1);
}
#topbar .showHideButton {
  display: block;
  margin: 2% auto;
}
#topbar .buttoncontainer {
  font-size: 20px;
  border: 5px solid #d9d9d9;
  background-color: #d9d9d9;
  transition: background-color 400ms;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
#topbar .buttoncontainer:not(.fontcontainer) {
  text-transform: capitalize;
}
#topbar .buttoncontainer.back {
  display: none;
}
#topbar .button {
  cursor: pointer;
  width: 113px;
  margin-right: 10px;
}
#topbar .button:hover {
  background-color: transparent;
}
#topbar #leftButtonMenu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
#topbar #leftButtonMenu #fontsettingscontainer {
  display: flex;
  align-items: center;
  flex-direction: row;
}
#topbar #leftButtonMenu .showHideButton {
  transform: rotate(-90deg);
  height: 0;
}
#topbar #leftButtonMenu .fontcontainer {
  width: 400px;
}
#topbar #leftButtonMenu .fontcontainer span {
  background-color: #d9d9d9;
}
#topbar #leftButtonMenu .fontcontainer span input[type="number"]::-webkit-outer-spin-button,
#topbar #leftButtonMenu .fontcontainer span input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#topbar #leftButtonMenu .fontcontainer span input[type="number"] {
  -moz-appearance: textfield;
  border: 3px solid #d9d9d9;
  transition: border-color 400ms;
}
#topbar #leftButtonMenu .fontcontainer span input[type="number"]:invalid {
  border-color: #f00 !important;
  outline: none !important;
  box-shadow: none !important;
}
#topbar #leftButtonMenu .fontcontainer span input[type="number"]:hover,
#topbar #leftButtonMenu .fontcontainer span input[type="number"]:focus {
  border-color: #c8c8c8;
}
#topbar #leftButtonMenu .fontcontainer span input,
#topbar #leftButtonMenu .fontcontainer span select,
#topbar #leftButtonMenu .fontcontainer span option {
  width: 40px;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 20px;
  padding: 0 2px;
  background-color: #ebebeb !important;
  height: 30px;
}
#topbar #leftButtonMenu .fontcontainer span select,
#topbar #leftButtonMenu .fontcontainer span option {
  width: 154px;
  border: none;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 20px;
  padding: 0 10px 0 0;
  background: url("../media/dropdown.svg") no-repeat;
  background-position: 95%;
}
#topbar #leftButtonMenu .fontcontainer span #fontfamilyselector {
  margin-right: 20px;
}
#topbar #leftButtonMenu .fontcontainer .fontsizecontainer select {
  padding: 0 40px 0 0;
}
#topbar #leftButtonMenu .formattingcontainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  border: none;
}
#topbar #leftButtonMenu .formattingcontainer .formattingbutton {
  width: 54px;
  cursor: pointer;
  background: transparent;
  text-align: center;
  background-color: #ebebeb !important;
  border-left: none;
}
#topbar #leftButtonMenu .formattingcontainer .formattingbutton:hover {
  background-color: #dedede !important;
}
#topbar #leftButtonMenu .formattingcontainer .formattingbutton.selected {
  background-color: #d0d0d0 !important;
}
#topbar #leftButtonMenu .formattingcontainer .formattingbutton.selected.bold {
  font-weight: 700;
}
#topbar #leftButtonMenu .formattingcontainer .formattingbutton.selected.italics {
  font-style: italic;
}
#topbar #leftButtonMenu .formattingcontainer .formattingbutton.selected.underscore {
  text-decoration: underline;
}
#topbar #rightButtonMenu {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 10px;
}
#topbar #rightButtonMenu .buttoncontainer {
  margin-left: 10px;
  cursor: pointer;
  transition: all 400ms;
}
#topbar #rightButtonMenu .buttoncontainer.button {
  margin-right: 0;
}
#topbar #rightButtonMenu .buttoncontainer.helpbutton {
  width: 54px;
  transition: opacity 400ms;
}
#topbar #rightButtonMenu .buttoncontainer.tablecalc h1 {
  font-size: 20px;
}
#topbar #rightButtonMenu .buttoncontainer.tablecalc p {
  font-size: 10px;
  font-weight: 300;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .fontcontainer span select {
    padding: 0 0 0 10px !important;
    background-position: 90% !important;
  }
  #fontsizeselector {
    padding: 0 20px 0 10px !important;
  }
  #topbar #leftButtonMenu .fontcontainer span input {
    padding: 0 !important;
  }
}
/* COLOR SCHEME */
.tablecalc,
.tablecalc .servicecontainer {
  background-color: #f1c40f !important;
  border-color: #f1c40f !important;
}
.about,
.about .servicecontainer {
  background-color: #4a86e8 !important;
  border-color: #4a86e8 !important;
}
.git,
.git .servicecontainer {
  background-color: #ff6969 !important;
  border-color: #ff6969 !important;
}
.help {
  background-color: #8bc34a !important;
  border-color: #8bc34a !important;
}
.transparent {
  background-color: rgba(0,0,0,0) !important;
  border-color: rgba(0,0,0,0) !important;
}
#mainArea {
  margin-left: 193px;
}
#mainArea #innerOverlay {
  z-index: 999;
  display: none;
  background-color: rgba(255,255,255,0.8);
  width: 100vw;
  position: relative;
  bottom: 0;
  left: 0;
}
#innerOverlayContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* ABOUT PAGE */
#about .headerText {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 40px;
}
#about .logos {
  margin: 5% auto;
  width: 208px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
#about .logos h2 {
  margin-bottom: 5%;
}
#about .logos p {
  margin: 10% auto;
  word-break: break-all;
}
#about .logos div {
  margin-left: 40%;
  padding: 0 10%;
  border-radius: 10px;
  transition: background-color 200ms;
}
#about .logos div:hover {
  background-color: rgba(22,22,22,0.2);
}
#about .logos div:hover img {
  transform: scale(1.05);
}
#about .logos div img {
  margin-top: 10%;
  margin-bottom: 2%;
  height: 200px;
  border-radius: 75%;
  border: 4px #212121 solid;
  transition: 400ms transform;
}
.dropdown {
  position: absolute;
  top: 61px;
  border: 5px solid #dfdfdf;
  border-bottom: none;
  width: 113px;
  display: none;
  opacity: 0;
  z-index: 999;
}
.dropdown.toggled {
  opacity: 1;
  display: block;
}
.dropdown ul li {
  cursor: pointer;
  background-color: #dfdfdf;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: 5px solid #dfdfdf;
  transition: background-color 200ms;
}
.dropdown ul li:hover {
  background-color: #ebebeb;
}
.dropdown ul li span {
  width: 100%;
  text-align: center;
}
.button.file:hover + .dropdown.file,
.dropdown.file:hover,
.button.edit:hover + .dropdown.edit,
.dropdown.edit:hover,
.button.insert:hover + .dropdown.insert,
.dropdown.insert:hover,
.button.more:hover + .dropdown.more,
.dropdown.more:hover {
  display: block;
  opacity: 1;
  animation-name: fadeInDropdown;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
#nonSupportedBrowser {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@-moz-keyframes pulse {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(1.3);
    opacity: 0;
  }
}
@-webkit-keyframes pulse {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(1.3);
    opacity: 0;
  }
}
@-o-keyframes pulse {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(1.3);
    opacity: 0;
  }
}
@keyframes pulse {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(1.3);
    opacity: 0;
  }
}
@-moz-keyframes fadeInDropdown {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInDropdown {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeInDropdown {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInDropdown {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeOutDropdown {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}
@-webkit-keyframes fadeOutDropdown {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}
@-o-keyframes fadeOutDropdown {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}
@keyframes fadeOutDropdown {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}
